.hero-section-wrapper {
  /* background-image: url(../../images/TOPBackground.png); */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-section {

  min-height: 80vh;
  text-align: center;
}

.hero-heading {
  font-size: 106px;
  font-weight: 700;
}

.hero-subheading {
  line-height: 38px;
  font-size: 30px;
  font-weight: 700;
  margin: 35px 58px;
}

.hero-claim-label {
  background-color: var(--bg-gray);
  width: 100%;
  position: absolute;
  height: 72px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}

.claim-arrow {
  height: 11px;
  margin: 7px 0px 0px 8px;
}

.claim-anchor {
  margin-left: 17px;
  color: var(--link-blue);
}

.color-font {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#08614C),
    color-stop(#15B487),
    to(#00D392)
  );
background: -webkit-linear-gradient(left, #00d4a3, #0BD098, #00D392);
background: -o-linear-gradient(left, #00d4a3, #0BD098, #00D392);
background: linear-gradient(to right, #00d4a3, #0BD098, #00D392);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

@keyframes  blackWhite {  
  0% { color: #49C48C; }
  33.22% { color: #49C48C; }
  33.33% { color: rgb(212, 21, 21); }
  66.65% { color: rgb(212, 21, 21); }
  66.66% { color: rgb(183, 196, 0); }
  99.99% { color: rgb(183, 196, 0); }
  100% { color: #49C48C; }
}

.blinkdiv {
    height: 100px;
    /* //comment this background-color: black; */
    -webkit-animation-name: blackWhite;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 9.8s; 
}  

@media all and (max-width: 1279px) {
  .hero-heading {
    font-size: 82px;
    line-height: 92px;
  }

  .hero-subheading {
    font-size: 25px;
  }

  .hero-claim-label {
    flex-direction: column;
  }
  .claim-anchor {
    margin-left: 0px;
  }
}

@media all and (max-width: 767px) {
  .hero-section {
    align-items: flex-start;
    text-align: left;
    min-height: 70vh;
  }

  .hero-section-wrapper{
    background-image: none !important;
  }
  .hero-heading {
    font-size: 55px;
    line-height: 47.5px;
    width: 270px;
    margin-top: 60px;
  }
  .hero-subheading {
    font-size: 16px;
    line-height: 22px;
    margin: 35px 0px;
  }
  .hero-claim-label {
    height: 55px;
    font-size: 13px;
  }
  .claim-arrow {
    height: 6px;
    margin: 2px 0px 0px 3px;
  }
  .fade-in {
    transition: opacity 1s ease;
}
  .fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}


.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.fw-600 {
  font-weight: 600 !important;
}

}
