<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"><title>Untitled</title><link
            rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"><link
            rel="stylesheet" href="assets/css/styles.min.css"></head><body><div class="container py-4 py-xl-5"><div class="row row-cols-1
                row-cols-md-2"><div class="col d-flex flex-column
                    justify-content-center p-4"><div class="text-center
                        text-md-start d-flex flex-column align-items-center
                        align-items-md-start mb-5"><div><h4>Title</h4><p>Erat
                                netus est hendrerit, nullam et quis ad cras
                                porttitor iaculis. Bibendum vulputate cras
                                aenean.</p></div></div><div class="text-center
                        text-md-start d-flex flex-column align-items-center
                        align-items-md-start mb-5"><div><h4>Title</h4><p>Erat
                                netus est hendrerit, nullam et quis ad cras
                                porttitor iaculis. Bibendum vulputate cras
                                aenean.</p></div></div><div class="text-center
                        text-md-start d-flex flex-column align-items-center
                        align-items-md-start"><div><h4>Title</h4><p>Erat netus
                                est hendrerit, nullam et quis ad cras porttitor
                                iaculis. Bibendum vulputate cras aenean.</p></div></div></div><div
                    class="col"><img class="rounded w-100 h-100 fit-cover"
                        style="min-height: 300px;"
                        src="assets/img/mick-de-paola-ib76Kkv2zyY-unsplash.jpg"></div></div></div><script
            src="assets/bootstrap/js/bootstrap.min.js"></script></body></html>